@import url(./_cover/video__card_cover.css);

.video__card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 1.2rem;
    box-shadow: 2px 2px 2px #c3cbce;
    z-index: 1;
}

.video__card:last-child {
    margin-bottom: 12rem;
}